@use "./base.scss";


// put your custom CSS here!

//Italics fix for Playfair Display
@font-face {
  font-family: "Playfair Display";
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');
}

//Page Titlle changes to be bigger and in italics
.page-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
  font-optical-sizing: auto;
}

//Explorer heading fix
.folder-container div>a {
  font-size:1.05rem;
  font-weight:800;
  display:inline-block
}
//Explorer non heading smaller size
.explorer-content ul li>a {
  font-size:.95rem;
}

//Alegerya numbers fix
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  font-variant-numeric: lining-nums;
}