@use "./base.scss";


// put your custom CSS here!

@font-face {
  font-family: "Playfair Display";
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap');
}

.page-title {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  font-optical-sizing: auto;
}